body{
    background-color: #cf142b;
}

.loginscreen{
    background-color: #eb7f7f;
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
input{
    display: inline-block;
    margin-bottom: 50px;
    width: 33%;
}


@media screen and (max-width: 1000px) {
input{
    display: inline-block;
    margin-bottom: 50px;
    width: 90%;
}
}