html{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    text-align: center;
    background-color: #33673B;
}
.logo{
    height: 40%;
    width: 40%;
}
.container{
    display: flex;
}
nav{
    color: white;
    text-align: left;
    margin: 0;
    background-color: #9a6d38;
}
.sidebar{
    height: 970px;
    width: 20%;
    color: white;
    text-align: left;
    margin: 0;
    background-color: #19231a;
}
.username{
    margin-left: 15px;
    margin-bottom: 0px;
}
.modus{
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}
.moduscontainer{
    border: 2px solid white;
}
.scherm{
    width: 80%;
}
.dashboardfoto{
    margin-top: 5%;
    text-align: center;
    width: 70%;
    height: 70%;
}
a {
    color: inherit; 
    text-decoration: inherit; 
  }
  .statistiekenscherm{
      overflow: auto;
      height: 100%;
      background-color: white;
      width: 90%;
      margin-left: 5%;
  }
  .tussenkopjeveiligheid{
    font-size: 300%;
  }
  .tekstveiligheid{
      margin-right: 20px;
      margin-left: 25px;
      font-size: 150%;
  }
  .statinhoud{
      overflow-y: scroll;
  }
  .kopjeinstellingen{
      color:white;
  }
  .spelinstellingeninhoud{
      text-align: left;
      margin-left: 25px;
  }
  .rated{
      display: flex;
  }
  .ratedcheckbox{
      margin-top: 22px;
      margin-left: 10px;
  }
  .speler2login{
      height: 200px;
      background-color: white;
      width: 40%;
      /*margin-left: 60%;*/
  }
  .instellingeninhoud{
      width: 40%;
  }
  .startspeler{
    display: flex;
  }
  .speler1{
      text-align: center;
      background-color: #44894F;
      width: 50%;
      height: 1000px;
      font-size: 150%;
  }
  .speler2{
      text-align: center;
      background-color: #67335F;
      width: 50%;
      height: 1000px;
      font-size: 150%;
  }
  .spelertekst{
      margin-top: 45%;
  }
  .speler1:hover{
    text-align: center;
    background-color: #44894F;
    width: 50%;
    height: 1000px;
    border: #F7FE72 10px solid;
    font-size: 300%;
}
.speler2:hover{
    text-align: center;
    background-color: #67335F;
    width: 50%;
    height: 1000px;
    border: #F7FE72 10px solid;
    font-size: 300%;
}
.spelers{
    display: flex;
}
.speler1spel{
    text-align: center;
    background-color: #44894F;
    width: 50%;
    height: 400px;
    font-size: 150%;
}
.speler2spel{
    text-align: center;
    background-color: #67335F;
    width: 50%;
    height: 400px;
    font-size: 150%;
}
.score{
    font-size: 300%;
}
.speler1spelactief{
    text-align: center;
    background-color: #44894F;
    width: 50%;
    height: 400px;
    font-size: 150%;
    border: #F7FE72 10px solid;
}
.speler2spelactief{
    text-align: center;
    background-color: #67335F;
    width: 50%;
    height: 400px;
    font-size: 150%;
    border: #F7FE72 10px solid;
}